* {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: lightblue;
    width: 100vw;
}

.menu {
    z-index: 1;
    position: fixed;
    background-color: black;
    color: rebeccapurple;
    text-align: center;
    font-size: 3rem;
    opacity: 0.7;
    box-shadow: 0px 0px 16px 5px #000000;
}

.menu ul {
    list-style: none;
    width: 100%;
}

.menu li {
    display: inline;
}

.menu a {
    text-decoration: none;
    color: white;
    padding: 3rem;
    transition: color;
    transition-duration: 0.5s;
    opacity: 100%;
}

.menu a:hover {
    color: red;
}

.fontMenu {
    z-index: -1;
    position: fixed;
    top: 0;
    height: 5rem;
}

.menu2 {
    z-index: 1;
    background-image: url("icone.png");
    background-color: black;
    background-size: contain;
    width: 4rem;
    height: 3rem;
}


.menu2 ul {
    position: absolute;
    top: 3rem;
    display: block;
}

.menu2 a {
    text-decoration: none;
    font-size: 2rem;
    display: none;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.hidden {
    display: none;
}

@media screen and (min-width: 501px){
    .menu2 {
        display: none;
    }
}

@media screen and (max-width: 500px){
    .menu {
        display: none;
    }
    .menu2:hover a {
        display: block;
        color: white;
        width: 100%;
    }
}