* {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: lightblue;
    width: 100vw;
}

.menu {
    background-color: black;
    width: 100%;
}

.menu ul {
    list-style: none;
    text-align: center;
}

.menu li {
    display: inline;
    background-color: white;
}